<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="shortcut icon" href="static/img/fav.ico" />
    <!-- Author Meta -->
    <meta name="author" content="Colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Music</title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />

    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="static/css/linearicons.css" />
    <link rel="stylesheet" href="static/css/owl.carousel.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/magnific-popup.css" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/glider.css" />
  </head>
  <body>
    <!-- Start Banner Area -->
    <section class="banner-area relative" id="home">
      <div class="container">
        <!-- Start Header Area -->
        <header class="default-header">
          <div class="container">
            <div class="header-wrap">
              <div
                class="header-top d-flex justify-content-between align-items-center"
              >
                <div class="logo">
                  <a href="/"><img src="static/img/logo.png" alt=""/></a>
                </div>
                <div class="main-menubar d-flex align-items-center">
                  <nav class="hide">
                    <a href="/">Home</a>
                  </nav>
                  <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <!-- End Header Area -->
    </section>
    <!-- End Banner Area -->

    <!-- Start Form Area -->
    <section class="contact-area pt-100 pb-5" id="section-form">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-4 title-section">
            <h2 class="text-uppercase">
              Let's analyse your lyrics.
            </h2>
            <p>
              As much as we can actually :)
            </p>
          </div>
          <div class="col-lg-8">
            <form id="analyseLyricsForm" action="#">
              <div class="row justify-content-center">
                <div class="form-group col-lg-6">
                  <input
                    class="form-control"
                    value="{{ artist }}"
                    id="artist"
                    name="artist"
                    placeholder="Enter artist's name"
                    required=""
                    type="text"
                  />
                  <input
                    class="form-control mt-3"
                    value="{{ song }}"
                    id="song"
                    name="song"
                    placeholder="Enter song's name"
                    required=""
                    type="text"
                  />
                  <textarea
                    class="form-control common-textarea mt-20"
                    id="lyrics"
                    name="lyrics"
                    placeholder="Enter lyrics"
                    required=""
                    >{{ lyrics }}</textarea
                  >
                </div>
                <div class="form-group col-lg-6">
                  <label for="model">Select your model</label>
                  <select class="form-control" id="model" name="model">
                    <option value="LDA">LDA</option>
                    <option value="LSA">LSA</option>
                    <option value="LDA_MALLET">LDA MALLET</option>
                  </select>

                  <button
                    class="primary-btn form-control btn-lg btn-block mt-20"
                    type="submit"
                  >
                    <span class="mr-10">Process</span>
                    <span class="lnr lnr-arrow-right"></span>
                  </button>
                  <br />
                  <div class="alert-msg"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="section_result" class="pb-100">
      <div class="container text-center">
        <h3>Topics Analysis</h3>
        <!-- Topics Analysis -->
        <div id="topics_analysis" class="row justify-content-center">
          <div class="col-lg-6">
            <table
              id="tableResult"
              class="display nowrap"
              style="width:100%"
            ></table>
          </div>

          <div class="col-lg-6 chart-container" style="position: relative;">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </section>

    <section id="year_result" class="pb-50">
      <div class="container text-center">
        <h3>Best Year Acceptance</h3>
        <!-- Topics Analysis -->
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <p>Best year for this topic song: <h2 class="best_year"></h2></p>
            <img src="static/img/trophy.gif" style="width:150px;" />      
          </div>

          <div class="col-lg-6" style="position: relative;">
            <p>Lyrics Wordcloud of songs in <span class="best_year"></span> </p>
            <img id="wordcloud_year" src="" alt="Wordcloud"/>
          </div>
        </div>
      </div>
    </section>

    <section id="best_songs">
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-lg-12 text-center">
            <h3 class="mb-5">
              Best Songs by dominant topic N° <span id="bt_num"></span> order by
              Affiliation Perc (%)
            </h3>
            <div id="bs_container" class="glider-contain"></div>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-lg-12 text-center">
            <h3 class="mb-5">
              Best Songs by dominant topic N° <span id="bt_num_2"></span> order
              by Billboard Rank and Affiliation Perc (%)
            </h3>
            <div id="bs_rank_container" class="glider-contain mt-2"></div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <p id="error_msg"></p>
      </div>
    </section>

    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/glider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  </body>
</html>
<script>
  $(document).ready(function() {
    // Hide Panel
    $("#section_result").hide();
    $("#year_result").hide();
    $("#best_songs").hide();

    let count = 0;
    let data_best_contrib_songs;
    let data_best_rank_songs;

    // ----------------------------------------------------------
    // FUNCTIONS
    // ----------------------------------------------------------
    // LAST FM IMAGES
    function getSongInfoLastFM(data){
      data.forEach(function(info){
        let url = "http://ws.audioscrobbler.com/2.0/?method=track.getInfo&"+
        "api_key=bb9643add015f76bceb3a171e023678b&"+
        "autocorrect=1&"+
        "artist="+info['Artist']+"&"+
        "track="+info['Song']+"&"+
        "format=json";
        
        // FETCH
        fetch(encodeURI(url), {
          method: "GET",
        })
        .then(function(response){
          return response.json();
        })
        .then(function(data){
          try{
            console.log(data);
            // Checking data
            if(data.track){
              if(data.track.album){
                if(data.track.album.image){
                  if(data.track.album.image[2]["#text"] != ""){
                    // Change img src
                    // Getting image with size large (n°2 in array)
                    $("#"+info['img_id']).attr('src',data.track.album.image[2]["#text"]);
                  }
                }
              }
            }

          }catch(ex){console.log(ex);}
        });
        // FIN FETCH

      });
    }

    // CAROUSEL SONGS
    function createCardListBestTopics(
      best_topic,
      data,
      contain_id,
      item_id,
      besttopic_id,
      dots_id,
      prev_id,
      next_id,
      img_id_prefix
    ) {
      // Variables
      let nb = 0;
      let html = "";
      let new_data = data;

      // Reset div
      $("#" + contain_id).empty();
      $("#" + besttopic_id).text("");
      html += '<div class="glider card-deck" id="' + item_id + '"></div>';
      html +=
        '<button role="button" aria-label="Previous" id="' +
        prev_id +
        '" class="glider-prev">«</button>';
      html +=
        '<button role="button" aria-label="Next" id="' +
        next_id +
        '" class="glider-next">»</button>';
      html += '<div role="tablist" id="' + dots_id + '" class="dots"></div>';
      $("#" + contain_id).append(html);

      // Add songs info
      data.forEach(function(song,index) {
        let artist = song["Artist"];
        let song_name = song["Song"];
        let year = song["Year"];
        let rank = song["Rank"];
        let percent = song["Topic_Perc_Contrib"].toFixed(4).toString() + "%";
        let nb = index + 1;
        let img_id = img_id_prefix + nb.toString();
        new_data[index]['img_id'] = img_id;

        html = "";
        html += '<div class="card text-center" style="width:20rem;">';
        html += '<div class="card-header"> #' + nb + " </div>";
        html +=
          '<img class="card-img-top" id="'+img_id+'" src="https://i.pinimg.com/originals/9e/df/af/9edfaf9d82b6d107b25cbe6824926572.png" alt="Card image">';
        html += '<div class="card-body">';
        html += '<p class="card-text text-muted">' + song_name + "</p>";
        html += '<a href="#"><h5 class="card-title">' + artist + "</h5></a>";
        html += "</div>";
        html +=
          '<div class="card-footer">Year : ' +
          year +
          "<br>Topic Aff.: " +
          percent +
          "<br>Rank Billboard:" +
          rank +
          "</div>";
        html += "</div>";

        $("#" + item_id).append(html);
        $("#" + besttopic_id).text(best_topic);
      });

      new Glider(document.querySelector("#" + item_id), {
        slidesToScroll: 1,
        slidesToShow: 5.5,
        draggable: true,
        dots: "#" + dots_id,
        arrows: {
          prev: "#" + prev_id,
          next: "#" + next_id
        }
      });
      
      // Return
      return new_data;
    }

    function createChartTopicsAnalysis(scores, topics, jsonData) {
      // #####################
      // Chart
      var ctx = document.getElementById("myChart").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",

        // The data for our dataset
        data: {
          labels: topics,
          datasets: [
            {
              label: "Score",
              backgroundColor: "rgb(255, 140, 1)",
              borderColor: "rgb(0,0,32)",
              data: scores
            }
          ]
        },

        // Configuration options go here
        options: {
          title: {
            display: true,
            text:
              "Topics Analysis Song - " +
              jsonData.song +
              " - " +
              jsonData.artist
          },
          scales: {
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: "Scores"
                }
              }
            ],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: "N° of Topics"
                }
              }
            ]
          }
        }
      });
    }

    //--------------------------------------
    // FETCH / API CALL
    // Handle Analyse Lyrics Form Request
    //--------------------------------------
    $("#analyseLyricsForm").on("submit", function(event) {
      // Prevent default
      event.preventDefault();

      // Headers
      let headers = new Headers();
      headers.set("Accept", "application/json");

      // Form Data
      var formAnalyse = new FormData(
        document.getElementById("analyseLyricsForm")
      );

      var formData = {};
      formAnalyse.forEach(function(value, key) {
        formData[key] = value;
      });

      // Fetching request
      fetch(`${window.origin}/analyseLyrics`, {
        method: "POST",
        headers,
        body: JSON.stringify(formData),
        cache: "no-cache",
        headers: new Headers({
          "content-type": "application/json"
        })
      })
        .then(function(response) {
          if (!response.ok) {
            throw Error(response.statusText);
          }
          return response.json();
        })
        .then(function(jsonData) {
          // Check if error
          if (jsonData.hasOwnProperty("error")) {
            throw Error(jsonData["result"]);
          }

          // Local var
          let topics = [];
          let scores = [];

          // Adding specific data for charts
          jsonData["result"].forEach(function(x) {
            topics.push(x["Index"]);
            scores.push(x["Score"]);
            x["Percent"] =
              (parseFloat(x["Score"]) * 100).toFixed(2).toString() + "%";
          });

          // Show Panel
          $("#year_result").show();
          $("#section_result").show();
          $("#best_songs").show();

          // #####################
          // TOPIC ANALYSIS
          // #####################
          // Chart Scatter plot
          createChartTopicsAnalysis(scores, topics, jsonData);

          // Datatable
          if ($.fn.dataTable.isDataTable("#tableResult")) {
            $("#tableResult")
              .DataTable()
              .destroy();
            $("#tableResult").empty();
          }

          $("#tableResult").DataTable({
            responsive: false,
            searching: false,
            lengthChange: false,
            pageLength: 5,
            scrollX: true,
            data: jsonData.result,
            columns: [
              { title: "N° Topics", data: "Index" },
              { title: "Percent", data: "Percent" },
              { title: "Topics", data: "Topics" }
            ],
            order: [[1, "desc"]]
          });

          //####################
          // BEST SONGS HANDLE
          //####################

          // Create and show card list best topics
          data_best_contrib_songs = createCardListBestTopics(
            jsonData["best_topic_id"],
            jsonData["df_best_songs_contrib_best_topic"],
            "bs_container",
            "bs_items",
            "bt_num",
            "bs_dots",
            "bs_prev",
            "bs_next",
            "bs_img_n"
          );

          // Create and show card list best topics
          data_best_rank_songs = createCardListBestTopics(
            jsonData["best_topic_id"],
            jsonData["df_best_songs_rank_best_topic"],
            "bs_rank_container",
            "bs_rank_items",
            "bt_num_2",
            "bs_rank_dots",
            "bs_rank_prev",
            "bs_rank_next",
            "bs_rank_img_n"
          );

          
          //####################
          // YEAR RESULT HANDLE
          //####################
          let best_topic_id = jsonData["best_topic_id"];
          let best_year = 0;
          
          jsonData["df_best_year_per_topic"].forEach((dt)=> {
            if(dt['Dominant_Topic']==best_topic_id){
              best_year = dt['Year'];
            }
          });
          
          $(".best_year").text(best_year);
          $("#wordcloud_year").attr("src", "static/img/wordcloud/WC_Lyrics_"+best_year.toString()+".png");
                    
        
          // TRY TO GET IMAGES SONGS FROM LASTFM
          getSongInfoLastFM(data_best_contrib_songs);
          getSongInfoLastFM(data_best_rank_songs);

          // INCREMENT COUNTER REQUEST
          count++;
        })
        // Handling Error Request Fetch
        .catch(err => {
          $("#error_msg").text(err);
        });


    });
  });
</script>
